@model HRSmart.Domain.Entities.buisness

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/templateLayout.cshtml";
}

<h2>Details Business</h2>
<div>
    <a href="@Url.Action("Address/"+@ViewBag.business.id, "Business")" style="float: right; color : white; background-color : cornflowerblue;" class="waves-effect waves-light btn">See Localization</a>
</div>
<div>
    <h4>@ViewBag.business.name</h4>
    <h3 style="color: red;">Somme Salary : @ViewBag.sommeSal</h3>
    <h3 style="color: red;">Best Employee : @ViewBag.bestEmpl.lastName @ViewBag.bestEmpl.firstName</h3>
    <hr />
    
    <div class="card">
        <div class="card-header">
            <h2>
                @ViewBag.business.name | Employees
                <small>
                    @ViewBag.business.name contains @ViewBag.nbUsers Emplyee
                </small>
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in ViewBag.business.Users)
                {
                    <tr>
                        <td>@item.user.firstName</td>
                        <td>@item.user.lastName</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>
                @ViewBag.business.name | Job Offers
                <small>
                    @ViewBag.business.name contains @ViewBag.nbJobs Job Offer
                </small>
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in ViewBag.business.Jobs)
                {
                    <tr>
                        <td>@item.title</td>
                        <td>@item.description</td>
                        <td>@item.active</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>
                @ViewBag.business.name | Stages
                <small>
                    @ViewBag.business.name contains @ViewBag.nbStages Stages
                </small>
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th>Name Stage</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in ViewBag.business.Stages)
                {
                    <tr>
                        <td>@item.name</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    
    
    
    

</div>
