@model HRSmart.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/loginTemplate.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="login-content">
        <div class="lc-block toggled" id="l-register">
            <div class="lcb-form">
                <h4>Create a new account.</h4>
                
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">

                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>

                </div>
                
                
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">

                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>

                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">

                        @Html.LabelFor(m => m.Email, new { @class = "col-md-1 control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>

                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-1 control-label" })

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            

            <input type="submit" value="Register" class="btn btn-default" />

        </div>
            <div class="lcb-navigation">
                <a href="@Url.Action("Login", "Account")" data-ma-block="#l-login"><i class="zmdi zmdi-plus"></i> <span>Login</span></a>
                <a href="#" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>
        </div>

    </div>
}

